<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/portfolio">Projets personnels</a></li>
        <li><a href="#">Compétences informatique</a></li>
        <li><a href="/stages">Stages</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>