
.m-4 {
  margin: 4vh;
}

.mb-4 {
  margin-bottom: 4vh;
}

.text-center {
  text-align: center;
}


.bold {
  font-weight: bold;
}
.light {
  font-weight: lighter;
}

.right {
  float: right;
}
.mt-4 {
  margin-top: 4vh;
}

.mt-2 {
  margin-top: 2vh;
}

.mb-2 {
  margin-bottom: 2vh;
}

code {
  color: #cbcbcb;
}

pre {
  margin: 16px;
}